@font-face {
    font-family: 'leokadia';
    src: url('leokadia_deco.eot');
    src: url('leokadia_deco.eot?#iefix') format('embedded-opentype'),
         url('leokadia_deco.woff') format('woff'),
         url('leokadia_deco.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}