@font-face {
    font-family: 'nobile';
    src: url('nobile-regular.eot');
    src: url('nobile-regular.eot?#iefix') format('embedded-opentype'),
         url('nobile-regular.woff') format('woff'),
         url('nobile-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nobile';
    src: url('nobile-medium.eot');
    src: url('nobile-medium.eot?#iefix') format('embedded-opentype'),
         url('nobile-medium.woff') format('woff'),
         url('nobile-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'nobile';
    src: url('nobile-bold.eot');
    src: url('nobile-bold.eot?#iefix') format('embedded-opentype'),
         url('nobile-bold.woff') format('woff'),
         url('nobile-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'nobile';
    src: url('nobile-italic.eot');
    src: url('nobile-italic.eot?#iefix') format('embedded-opentype'),
         url('nobile-italic.woff') format('woff'),
         url('nobile-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'nobile';
    src: url('nobile-mediumitalic.eot');
    src: url('nobile-mediumitalic.eot?#iefix') format('embedded-opentype'),
         url('nobile-mediumitalic.woff') format('woff'),
         url('nobile-mediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'nobile';
    src: url('nobile-bolditalic.eot');
    src: url('nobile-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('nobile-bolditalic.woff') format('woff'),
         url('nobile-bolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}