
@font-face {
    font-family: 'mailray';
    src: url('mail_ray_stuff.eot');
    src: url('mail_ray_stuff.eot?#iefix') format('embedded-opentype'),
         url('mail_ray_stuff.woff') format('woff'),
         url('mail_ray_stuff.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}