.header
	.top-bar-region
		ul(role="navigation").nav.nav-tabs.main-menu
			li: a(href="/") Home
			li: a(href="/cards-generator")  Cards-generator
			li: a(href="/page")  About
			li: a(href="/other-route")  Other route
			li.dropdown
				a(data-toggle="dropdown" href="#").dropdown-toggle API
					span.caret
				ul(role="menu").dropdown-menu

					li(role="presentation" class="dropdown-header text-center") - APP DATA -
					li: a(href="/api/data") /api/data
					li: a(href="/api/data/names") /api/data/:property
					li: a(href="/api/step-form") /api/step-form 
					li: a(href="/api/font-list") /api/font-list 
					li: a(href="/api/font-list/aaargh") /api/font-list/:font 

					li(role="presentation" class="dropdown-header text-center") - CONFIG DATA -
					li: a(href="/api/cards-generator") /api/cards-generator
					li: a(href="/api/card") /api/card
					li: a(href="/api/card/1") /api/card/:id