@font-face {
    font-family: 'texgyreheros';
    src: url('texgyreheros-bold.eot');
    src: url('texgyreheros-bold.eot?#iefix') format('embedded-opentype'),
         url('texgyreheros-bold.woff') format('woff'),
         url('texgyreheros-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'texgyreheros';
    src: url('texgyreheros-bolditalic.eot');
    src: url('texgyreheros-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('texgyreheros-bolditalic.woff') format('woff'),
         url('texgyreheros-bolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'texgyreherositalic';
    src: url('texgyreheros-italic.eot');
    src: url('texgyreheros-italic.eot?#iefix') format('embedded-opentype'),
         url('texgyreheros-italic.woff') format('woff'),
         url('texgyreheros-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'texgyreherosregular';
    src: url('texgyreheros-regular.eot');
    src: url('texgyreheros-regular.eot?#iefix') format('embedded-opentype'),
         url('texgyreheros-regular.woff') format('woff'),
         url('texgyreheros-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

