.col-sm-12
	.panel.panel-default
		if title
			.panel-heading
				.text-center= title
					button.collapse-toggler.btn.btn-default.btn-xs.right: span.caret
		if gotBody
			.panel-body
				if ( addRemoveButtons || addButtonText || removeButtonText )
					.row
						if addButtonText
							.col-sm-6.text-center
								button.add-child.btn.btn-success(type="button")= addButtonText
						if removeButtonText
							.col-sm-6.text-center
								button.remove-child.btn.btn-danger(type="button")= removeButtonText
		ul.items-container.list-group