.col-sm-12
	.panel.panel-default
		.panel-heading
			.text-center= title
				button.collapse-toggler.btn.btn-default.btn-xs.right: span.caret
		.panel-body
			button.draw-random-background.btn.btn-success.btn-block(type="button") Случайный фон
		ul.items-container.list-group
