.col-sm-12
	.panel.panel-default
		.panel-heading
			.text-center= title
				button.collapse-toggler.btn.btn-default.btn-xs.right: span.caret
		ul.items-container.list-group
			li.list-group-item.ui-sortable-handle
				label Имя
					input(name="name" type="text" class="form-control")
			li.list-group-item.ui-sortable-handle
				label Фамилия
					input(name="surname" type="text" class="form-control")
			li.list-group-item.ui-sortable-handle
				label Email
					input(name="email" type="text" class="form-control")
			li.list-group-item.ui-sortable-handle
				label Телефон
					input(name="phone" type="text" class="form-control")
			li.list-group-item.ui-sortable-handle
				label position
					input(name="position" type="text" class="form-control")
