.col-sm-12
	.panel.panel-default
		.panel-heading
			.text-center= title
				button.collapse-toggler.btn.btn-default.btn-xs.right: span.caret
		.panel-body
			label Имя
				input(name="name" type="text" class="form-control" placeholder="name")
			label Фамилия
				input(name="surname" type="text" class="form-control" placeholder="surname")
			label Email
				input(name="email" type="text" class="form-control" placeholder="email")
			label Телефон
				input(name="phone" type="text" class="form-control" placeholder="phone")
			label position
				input(name="position" type="text" class="form-control" placeholder="position")
			label Что-то
				input(name="Что-то" type="text" class="form-control" placeholder="Что-то")
