.step-form-controller
	form(class="step-form-controller-form q1" action="/")
		.step-form-controller-form-label Текст вопроса
		.step-form-controller-form-input
		button(type="submit" class="step-form-controller-form-submit chi-arrow-right2" value="")
	.step-form-controller-form-statusbar
		.step-form-controller-form-statusbar-value
	.step-form-controller-form-statusbar-step
		span.step-form-controller-form-statusbar-current 
		| /  
		span.step-form-controller-form-statusbar-quantity
	.step-form-controller-form-controls
		.step-form-controller-form-control.prev: a(class="chi-arrow-left")
		.step-form-controller-form-control.next: a(class="chi-arrow-right")