$keyframe-name = fliped_0-90
@keyframes {$keyframe-name}
	from {
		transform rotateY( 0deg )
	}
	to {
		transform rotateY( 90deg )
	}
$keyframe-name = fliped_90-180
@keyframes {$keyframe-name}
	from {
		transform rotateY( 90deg )
	}
	to {
		transform rotateY( 180deg )
	}

$keyframe-name = fliped_180-90
@keyframes {$keyframe-name}
	from {
		transform rotateY( 180deg )
	}
	to {
		transform rotateY( 90deg )
	}

$keyframe-name = fliped_90-0
@keyframes {$keyframe-name}
	from {
		transform rotateY( 90deg )
	}
	to {
		transform rotateY( 0deg )
	}
