#app
	position relative
	width 100%
	height 100%	
	height 0

#cardsGreed.prepare-to-pdf
	width 291.17mm
	height 442.98mm

	.card
		width 94mm
		height 54mm
		

#printableCardsGreed
	display block !important
	position absolute
	top 0
	left 0
	width 100%
	background red
	&.printable-images
		display inline-block
		border 2px solid rgba(0,0,0,0.5)
		width 22.8%
		margin 1%


#printable-region
	position absolute
	top 0
	left 0
	z-index 99999

	#printable-canvas
		width 100%
		height 100%

	&.template-1
		width 291.17mm
		height 442.98mm

		padding 3mm 6.5mm 6mm 4.7mm
		

		background tomato

		.printable-image
			width 33.333333%
			height 12.5%

#overlay
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	z-index -1
	transition background-color .3s ease
	background-color rgba(0,0,0,0.0)
	
	&.rendering-pdf
		z-index 900
		background-color rgba(0,0,0,0.8)


// @media print
// 	html, body
// 		padding 0
// 		margin 0
// 		width 100%
// 		height 100%

// 	body .l-main
// 		display none !important
// 		visibility hidden !important

// 	body #printableCardsGreed,
// 	body #printableCardsGreed *
// 		visibility visible !important

// 	body #printableCardsGreed
// 		display block !important
// 		position absolute
// 		top 0
// 		left 0
// 		width 100%

// 	#printableCardsGreed .printable-images
// 		display inline-block
// 		border 2px solid rgba(0,0,0,0.5)
// 		width 22.8%
// 		margin 1%