#app
.cards
	width 100%
	height 100%	

#app
	position relative
	height 0
	padding 0 0 56.25% 0

#cardsGreed
	width 100%
	position relative
	height 0
	padding 2.25% 0 54% 0

.cards
	position absolute
	top 0
	left 0
	width 100%
	height 100%

.card
.step-form-controller
	position relative
	float left
	width 19.4%
	height 19.4%
	margin 0 0.3% 0.6% 0.3%
	background none
	border 0px solid transparent
	border-radius: 2px
	z-index 1


.card
	transition transform 0.5s
	transition box-shadow 0.5s
	text-align center

	&.is_fliping
		z-index 10
		&:before
			background rgba(0,0,0,0) !important
	&.is_fliping .js_lock_config_button
		display none
	&.is_fliping &_perspective_inner_wrapper:before
		background none !important
	&.fliped &_perspective_inner_wrapper
		box-shadow 0 0 1px 1px #000, -3px 5px 5px 0 rgba(0,0,0,0.4)
		transform rotateY( 180deg ) 

	&:nth-child(13)
		margin 0 20.3% 0 0.3%

	// &.fliped &_inner_werapper
	// 	box-shadow 0 0 1px 1px #000, -3px 5px 5px 0 rgba(0,0,0,0.4)

	// &.fliped_0-90 &_inner_werapper
	// 	box-shadow 0 0 1px 1px #000, 3px 5px 5px 0px rgba(0,0,0,0.4)
	// 	animation fliped_0-90  0.5s alternate both ease-in
	// &.fliped_90-0 &_inner_werapper
	// 	box-shadow 0 0 1px 1px #000, 3px 5px 5px 0px rgba(0,0,0,0.4)
	// 	transform rotateY( 180deg ) 
	// 	animation fliped_90-0  0.5s alternate both ease-out
	// &.fliped_90-180 &_inner_werapper
	// 	box-shadow 0 0 1px 1px #000, -3px 5px 5px 0px rgba(0,0,0,0.4)
	// 	animation fliped_90-180 0.5s alternate both ease-out
	// 	& .card_canvas
	// 	transform rotateY( 180deg ) 
	// &.fliped_180-90 &_inner_werapper
	// 	box-shadow 0 0 1px 1px #000, -3px 5px 5px 0px rgba(0,0,0,0.4)
	// 	animation fliped_180-90 0.5s alternate both ease-in
	// 	& .card_canvas
	// 	transform rotateY( 180deg ) 


	// &.fliped &_inner_werapper
	// 	box-shadow 0 0 1px 1px #000, -3px 5px 5px 0 rgba(0,0,0,0.4)
	// 	transform rotateY( 180deg ) 
	// &.fliped .card_canvas
	// 	transform rotateY( 180deg ) 


	&:hover:before
	&.locked:before
		background rgba(0,0,0,0.6)
	&:before
		content ""
		position absolute
		width 100.2%
		height 100%
		left 0
		top 0
		background rgba(0,0,0,0.0)
		transition all .3s ease
		z-index 10
	&_perspective
		width 100%
		height 100%
		perspective 680px
		&_inner_wrapper
			position absolute
			width 100%
			height 100%

			top 0
			left 0
			transform-style preserve-3d
			box-shadow 0 0 1px 1px #000, 3px 5px 5px 0px rgba(0,0,0,0.4)
			transition all 1.5s
			border-radius 2px
			z-index 1

			& .front
				background #fff
			& .back
				background #fff
				transform rotateY( 180deg ) 
	
.step_form_controller
	
	&_wrapper
		overflow hidden
		box-shadow 0px 0px 0px 1px rgba(0,0,0,0.2) inset, 0px 6px 4px -4px rgba(0,0,0,0.4) inset,  0 0 7px 2px rgba(0,0,0,0.4) inset

	position absolute
	margin auto
	top 0
	bottom 0
	right 0
	left 0
	width 90%
	height 86%
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none


	&_form
		width 100%
		height 100%
		float left

		&_input
			position absolute
			top 40px
			left 0
			height 1.7em
			width 100%
			background 0 0
			line-height 1.1em
			font-size 1em
			padding 0

		&_label
			position absolute
			top 2px
			left 0
		&_statusbar
			position absolute
			top 70px
			width 100%
			height 30px
			overflow hidden
			border-top: 1px solid
			&_value
				position absolute
				top 0
				left 0
				width 0%
				height 3px
				background #090
				transition width .2s ease

			&_step
				position: absolute
				bottom: 3px
				width: 100%
				text-align: center

		&_controls
			position absolute
			bottom 0
			left 0
			width 100%
			font-size 25px
		step_form_controller_form_control
		&_control
			width 25px
			height 25px
			cursor pointer
			hover-color red
			&.prev
				float left
				margin-left: 1px
				position relative
			&.next
				float right
				margin-right: 1px
				position relative

		&_submit
			position absolute
			top 43px
			right 3px
			width 20px
			height 20px
			background none
			z-index 100
			cursor pointer
			font-size: 20px;
			hover-color red

.card_canvas
.card_svg
	display block
	transition none
	width 100%
	height 100%
	position absolute
	top 0
	left 0
	z-index 1
	backface-visibility hidden

.js_lock_config_button
	&_wrapper
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		z-index	20

	position absolute
	top 1px
	left 1px
	right 0
	bottom 0
	height 46px
	z-index 99
	border 0 solid #fff
	border-radius 2px
	padding 2px
	display block
	box-shadow 0 0 0 2px rgba(255,255,255,1) inset
	width 116px
	margin auto
	background none
	color #fff
	font-weight 500
	text-transform uppercase
	line-height 2.6em
	font-size 0.9em
	text-shadow 1px 1px 16px #fff
	overflow hidden
	&:before
		z-index -1
		content ''
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background #fff
		transition all .2s ease
		transform translate(-100%,0)

.locked .js_lock_config_button
	color #000
	text-shadow 1px 1px 3px rgba(0,0,0,0.4)
	&:before
		transform translate(0,0)

