.card-perspective
	.card-perspective-inner-wrapper
		//- canvas(class='card-canvas front', resize="true") HTML5 Canvas is not supported
		//- canvas(class='card-canvas back', resize="true") HTML5 Canvas is not supported
		.card-svg.front
		.card-svg.back
