@font-face {
    font-family: 'droidmono';
    src: url('droidsansmono.eot');
    src: url('droidsansmono.eot?#iefix') format('embedded-opentype'),
         url('droidsansmono.woff') format('woff'),
         url('droidsansmono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}