doctype html

html

	head

		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')

		//- inject:css
<<<<<<< HEAD
		link(rel="stylesheet", href="/css/build-1409088581807.css")
=======
		link(rel="stylesheet", href="css/build-1407268856178.css")
>>>>>>> 8569016... git test rebuild
		//- endinject


		block head

	body

		block body

		//- inject:js
<<<<<<< HEAD
		script(src="/js/build-1409088581807.js")
=======
		script(src="js/build-1407268856178.js")
>>>>>>> 8569016... git test rebuild
		//- endinject