doctype html

html

	head

		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')

		| <!-- inject:css -->
<<<<<<< HEAD
		link(href='css/build-1406207094712.css' rel='stylesheet')
=======
		link(href='css/build-1405635291146.css' rel='stylesheet')
>>>>>>> 6c1d4e5d657084f894e263e77f9317b8c90b15bf
		| <!-- endinject -->


		block head

	body

		block body

		| <!-- inject:js -->
<<<<<<< HEAD
		script(src='js/build-1406207094712.js')
=======
		script(src='js/build-1405635291146.js')
>>>>>>> 6c1d4e5d657084f894e263e77f9317b8c90b15bf
		| <!-- endinject -->