doctype html

html

	head

		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')

		| <!-- inject:css -->
		link(href='css/build-1405288325966.css' rel='stylesheet')
		| <!-- endinject -->


		block head

	body

		block body

		| <!-- inject:js -->
		script(src='js/build-1405288325966.js')
		| <!-- endinject -->