#cardsGreed
	ul.cards
		- for (var i = 1; i <= 25; i++)
			if i == 13
				- var classname = 'card card_center'
				li(class= 'card_' + i + ' main_controller_wrapper')
					.main_controller
						form(class="main_controller_form q1" action="/")
							.main_controller_form_label Текст вопроса
							.main_controller_form_input
							button(type="submit" class="main_controller_form_submit icon-arrow-right2" value="")
						.main_controller_form_statusbar
							.main_controller_form_statusbar_value
						.main_controller_form_statusbar_step
							span.main_controller_form_statusbar_current 
							| /  
							span.main_controller_form_statusbar_quantity
						.main_controller_form_controls
							.main_controller_form_control.prev: a(class="icon-arrow-left")
							.main_controller_form_control.next: a(class="icon-arrow-right")
			else 
				- var classname = 'card'
				li(class= classname+' '+'card_'+i)
					.card_perspective
						.card_perspective_inner_wrapper
							canvas(id='canvas-'+i, class='card_canvas front card_canvas_'+i, resize="true") HTML5 Canvas is not supported
							canvas(id='canvas-back-'+i, class='card_canvas back card_canvas_'+i, resize="true") HTML5 Canvas is not supported