li.card
	.card_perspective
		.card_perspective_inner_wrapper
			canvas(class='card_canvas front', resize="true") HTML5 Canvas is not supported
			canvas(class='card_canvas back', resize="true") HTML5 Canvas is not supported