.step_form_controller
	form(class="step_form_controller_form q1" action="/")
		.step_form_controller_form_label Текст вопроса
		.step_form_controller_form_input
		button(type="submit" class="step_form_controller_form_submit icon-arrow-right2" value="")
	.step_form_controller_form_statusbar
		.step_form_controller_form_statusbar_value
	.step_form_controller_form_statusbar_step
		span.step_form_controller_form_statusbar_current 
		| /  
		span.step_form_controller_form_statusbar_quantity
	.step_form_controller_form_controls
		.step_form_controller_form_control.prev: a(class="icon-arrow-left")
		.step_form_controller_form_control.next: a(class="icon-arrow-right")