extends ../base/layout


block head
	title Card Holder
	meta(name='keywords' content='')
	meta(name='description' content='')
	script(src='/js/templates/templates.js')


block content

	#app.clearfix
	
	//- script(src='/assets/data/data.js')
	script(src='/assets/data/iconsData.js')
	script window.dataFromServer = !{ JSON.stringify( fromServer ) }