extends ../base/layout


block head
	title Card Holder
	meta(name='keywords' content='')
	meta(name='description' content='')
	script(src='/js/templates/templates.js')


block content

	#app.clearfix

	script window.dataFromServer = !{ JSON.stringify( fromServer ) }