extends ../base/layout


block head
	title Card Holder
	meta(name='keywords' content='')
	meta(name='description' content='')


block content
	script(src='js/cards_generator/templates/templates.js')
	#app.clearfix
		ul.cards
			- for (var i = 1; i <= 25; i++)
				if i == 13
					- var classname = 'card card_center'
					li(class= 'card_' + i + ' main_controller_wrapper')
						.main_controller
							form(class="main_controller_form q1" action="/")
								.main_controller_form_label Текст вопроса
								.main_controller_form_input
								button(type="submit" class="main_controller_form_submit icon-arrow-right2" value="")
							.main_controller_form_statusbar
								.main_controller_form_statusbar_value
							.main_controller_form_statusbar_step
								span.main_controller_form_statusbar_current 
								| /  
								span.main_controller_form_statusbar_quantity
							.main_controller_form_controls
								.main_controller_form_control.prev: a(class="icon-arrow-left")
								.main_controller_form_control.next: a(class="icon-arrow-right")
				else 
					- var classname = 'card'
					li(class= classname+' '+'card_'+i)
						.card_perspective
							.card_perspective_inner_wrapper
								canvas(id='canvas-'+i, class='card_canvas front card_canvas_'+i, resize="true") HTML5 Canvas is not supported
								canvas(id='canvas-back-'+i, class='card_canvas back card_canvas_'+i, resize="true") HTML5 Canvas is not supported

	script window.dataFromServer = !{ JSON.stringify( fromServer ) }
	
	script.
		var value = 1; //or whatever value you want to pass
		var meta = '';
		// to add metadata, assign a JSON-formatted object to the variable meta:
		// var meta = {'food' : 'ice cream', 'flavor':'chocolate'};

		var sm_prefix = document.location.protocol == 'https://' ? 'https://' : 'http://';
		document.write(unescape('%3Cscript src="' + sm_prefix + 'api.statsmix.com/jsapi.2.min.js" type="text/javascript"%3E%3C/script%3E'))

	script.
		StatsMix.init("86aed8bac232816edd4c");
		StatsMix.track("cardgen", value, meta);