.clearfix
	zoom 1

	&:after
	&:before
		content ''
		display table

	&:after
		clear both


.left
	float left
	

.right
	float right


.img-responsive
	min-width 100%
	height auto


.t-just
	text-align justify
	

.t-left
	text-align left


.t-right
	text-align right


.t-center
	text-align center


.t-top
	vertical-align top


.t-mid
	vertical-align middle


.t-bottom
	vertical-align bottom