// Colors
// ===================================================
$red = #c0392b
$blue = #2980b9
$green = #2ecc71

$body-bg = #fff


// Fonts
// ===================================================
$font-1 = Arial, sans-serif
$font-2 = 'PT Sans', sans-serif
$font-3 = 'Open Sans', sans-serif


// Text
// ===================================================
$text-size-default = 16px
$text-color-default = #000


// Link
// ===================================================
$link-color = $blue
$link-hover-color = $red


// Placeholder
// ===================================================
$placeholder-color = #777


// Grid
// ===================================================
$container-width = 960px
$column-gutter = 20px