/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.i.i-git {
  background-image: url(../assets/img/sprite-1412718111243.png);
  background-position: 0px 0px;
  width: 17px;
  height: 15px;
}
