/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.png.png-git {
  background-image: url(../assets/img/sprite-1410685417164@1x.png);
  background-position: 0px 0px;
  width: 17px;
  height: 15px;
}
.png.png-git222 {
  background-image: url(../assets/img/sprite-1410685417164@1x.png);
  background-position: -17px 0px;
  width: 17px;
  height: 15px;
}
.png.png-git22232 {
  background-image: url(../assets/img/sprite-1410685417164@1x.png);
  background-position: 0px -15px;
  width: 17px;
  height: 15px;
}
