

@font-face {
    font-family: 'sansus';
    src: url('sansus-webissimo-italic.eot');
    src: url('sansus-webissimo-italic.eot?#iefix') format('embedded-opentype'),
         url('sansus-webissimo-italic.woff') format('woff'),
         url('sansus-webissimo-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}




@font-face {
    font-family: 'sansus';
    src: url('sansus-webissimo-regular.eot');
    src: url('sansus-webissimo-regular.eot?#iefix') format('embedded-opentype'),
         url('sansus-webissimo-regular.woff') format('woff'),
         url('sansus-webissimo-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}