
@font-face {
    font-family: 'pecita';
    src: url('pecita.eot');
    src: url('pecita.eot?#iefix') format('embedded-opentype'),
         url('pecita.woff') format('woff'),
         url('pecita.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}