h1.text-center Edit your card!
.container-fluid
	.row
		.editor-viewport.col-sm-7.left
			.row
				
				//- h2.text-center CARD VIEW
				.col-sm-12

					#canvas-container


		.toolbar.col-sm-5.right
			.row

				//- h2.text-center TOOLBAR
				.col-sm-6

					.row.layers
						.col-sm-12
							.panel.panel-default
								.panel-heading
									.text-center Слои
								.panel-body
									.row
										.col-sm-6.text-center
											button.add-layer.btn.btn-success(type="button") Добавить слой
										.col-sm-6.text-center
											button.remove-layer.btn.btn-danger(type="button") Удалить слой
								ul.ui-layer-list.list-group

					.row.shapes
						.col-sm-12
							.panel.panel-default
								.panel-heading
									.text-center Фигуры
								.panel-body
									.row
										.col-sm-6.text-center
											button.add-shape.btn.btn-success(type="button") Добавить фигуру
										.col-sm-6.text-center
											button.remove-shape.btn.btn-danger(type="button")  Удалить фигуру
								ul.ui-shape-list.list-group
				
					.row.save-button
						.col-sm-12
							.text-center: button.save-to-image.btn.btn-default(type="button") Сохранить в PNG

				.col-sm-6
					.row.shapes
						.col-sm-12
							.panel.panel-default
								.panel-heading
									.text-center Инструменты
								.panel-body
									.row
										.col-sm-6.text-center
											button.btn.btn-success(type="button") Добавить
										.col-sm-6.text-center
											button.btn.btn-danger(type="button") Удалить

									.row
										.col-sm-6.text-center
											button.btn.btn-success(type="button") Добавить
										.col-sm-6.text-center
											button.btn.btn-danger(type="button") Удалить

									.row
										.col-sm-6.text-center
											button.btn.btn-success(type="button") Добавить
										.col-sm-6.text-center
											button.btn.btn-danger(type="button") Удалить

									.row
										.col-sm-6.text-center
											button.btn.btn-success(type="button") Добавить
										.col-sm-6.text-center
											button.btn.btn-danger(type="button") Удалить

									.row
										.col-sm-6.text-center
											button.btn.btn-success(type="button") Добавить
										.col-sm-6.text-center
											button.btn.btn-danger(type="button") Удалить

									.row
										.col-sm-6.text-center
											button.btn.btn-success(type="button") Добавить
										.col-sm-6.text-center
											button.btn.btn-danger(type="button") Удалить

