h1.text-center Edit your card!
.container-fluid
	.row
		.editor-viewport.col-sm-12.left
			.row
				.col-left.col-sm-2

					#backgrounds-panel-region.row

					#icons-panel-region.row

					#text-panel-region.row

				.col-center
					.row.tools
						#canvas-container

				.col-right.col-sm-3

					#layers-panel-region.row

					#shapes-panel-region.row
				
					.row.save-button
						.col-sm-12
							.text-center: button.save-to-image.btn.btn-default(type="button") Сохранить в PNG