h1.text-center Edit your card!
.container-fluid
	.row
		.editor-viewport.col-sm-7.left
			#canvas-container


		.toolbar.col-sm-5.right
			h2 toolbar
			br
			label(for="kaleidoscope-slider") Калейдоскоп
			input(id="kaleidoscope-slider", type="range", min="0", max="360", step="5", value="20")