
@font-face {
    font-family: 'liberationsans';
    src: url('liberationsans-bold.eot');
    src: url('liberationsans-bold.eot?#iefix') format('embedded-opentype'),
         url('liberationsans-bold.woff') format('woff'),
         url('liberationsans-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}




@font-face {
    font-family: 'liberationsans';
    src: url('liberationsans-bolditalic.eot');
    src: url('liberationsans-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('liberationsans-bolditalic.woff') format('woff'),
         url('liberationsans-bolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}




@font-face {
    font-family: 'liberationsans';
    src: url('liberationsans-italic.eot');
    src: url('liberationsans-italic.eot?#iefix') format('embedded-opentype'),
         url('liberationsans-italic.woff') format('woff'),
         url('liberationsans-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}




@font-face {
    font-family: 'liberationsans';
    src: url('liberationsans-regular.eot');
    src: url('liberationsans-regular.eot?#iefix') format('embedded-opentype'),
         url('liberationsans-regular.woff') format('woff'),
         url('liberationsans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}