
@font-face {
    font-family: 'sansation';
    src: url('sansation_bold.eot');
    src: url('sansation_bold.eot?#iefix') format('embedded-opentype'),
         url('sansation_bold.woff') format('woff'),
         url('sansation_bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'sansation';
    src: url('sansation_bold_italic.eot');
    src: url('sansation_bold_italic.eot?#iefix') format('embedded-opentype'),
         url('sansation_bold_italic.woff') format('woff'),
         url('sansation_bold_italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'sansation';
    src: url('sansation_italic.eot');
    src: url('sansation_italic.eot?#iefix') format('embedded-opentype'),
         url('sansation_italic.woff') format('woff'),
         url('sansation_italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'sansation';
    src: url('sansation_light.eot');
    src: url('sansation_light.eot?#iefix') format('embedded-opentype'),
         url('sansation_light.woff') format('woff'),
         url('sansation_light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'sansation';
    src: url('sansation_light_italic.eot');
    src: url('sansation_light_italic.eot?#iefix') format('embedded-opentype'),
         url('sansation_light_italic.woff') format('woff'),
         url('sansation_light_italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'sansation';
    src: url('sansation_regular.eot');
    src: url('sansation_regular.eot?#iefix') format('embedded-opentype'),
         url('sansation_regular.woff') format('woff'),
         url('sansation_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}