// Naming conventions
// Size -> Weight -> Color -> Decor -> Family
// example: .f-12.f-xl.f-red.f-upp.f-one


// Custom fonts
// ===================================================
.f-one
	font-family $font-2

.f-two
	font-family $font-3


// Font sizes
// ===================================================
for i in 10 11 12 13 14 15 16 17 18 19 20
	.f-{i}
		font-size unit(i, 'px')


// Weight
// ===================================================
.f-xs
	font-weight 100

.f-s
	font-weight 300

.f-m
	font-weight 400

.f-l
	font-weight 700

.f-xl
	font-weight 800


// Font colors
// ===================================================
.f-white
	color white


// Decor
// ===================================================
.f-clean
	text-decoration none

.f-under
	text-decoration underline

.f-upp
	text-transform uppercase

// Alignment
.f-left
	text-align left
	display inherit
.f-right
	text-align right
	display inherit
.f-center
	text-align center
	display inherit	