
@font-face {
    font-family: 'bloccus';
    src: url('bloccus.eot');
    src: url('bloccus.eot?#iefix') format('embedded-opentype'),
         url('bloccus.woff') format('woff'),
         url('bloccus.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}