
@font-face {
    font-family: 'granapadano';
    src: url('granapadano.eot');
    src: url('granapadano.eot?#iefix') format('embedded-opentype'),
         url('granapadano.woff') format('woff'),
         url('granapadano.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}